.u-section-1 {
  background-image: url("images/background.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 723px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 617px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px 0;
}

.u-section-1 .u-shape-1 {
  width: 75px;
  height: 75px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  animation-duration: 1000ms;
  margin: 23px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
  animation-duration: 1000ms;
  margin: 24px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 617px;
  background-image: url("images/d595a0ff73f5f044bab8987188de7ce955753a163da5546b6c3bb244c4f2ccf8b101e061e7ca4b0df570d7b9c478b009f4b49fd00c1e46992b64fc_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 509px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    font-weight: 400;
  }

  .u-section-1 .u-image-1 {
    min-height: 509px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.5625rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 515px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 324px;
  }
}.u-section-2 {
  background-image: url("images/background.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 676px;
}

.u-section-2 .u-text-1 {
  width: 525px;
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 525px;
  animation-duration: 1000ms;
  margin: 11px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 59px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 403px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  animation-duration: 1000ms;
  font-weight: 400;
  font-family: Alatsi;
  margin: 0;
}

.u-section-2 .u-text-4 {
  line-height: 2;
  animation-duration: 1000ms;
  font-weight: normal;
  font-family: "PT Sans", sans-serif;
  margin: 29px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 239px;
  height: 239px;
  background-image: url("images/8710beb237d8b1165a46cffc9700eee544ad317c1c18838625303bf0ba855e3ea7e1d0aec0c1c451fee2e18bc1f200dd104bc4fb2475bc37cd069d_1280.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 403px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  animation-duration: 1000ms;
  font-weight: 400;
  font-family: Alatsi;
  margin: 22px 0 0;
}

.u-section-2 .u-text-6 {
  line-height: 2.2;
  animation-duration: 1000ms;
  margin: 29px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 499px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 499px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 200px;
    height: 200px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 452px;
  }

  .u-section-2 .u-image-1 {
    width: 374px;
    height: 374px;
    margin-bottom: -48px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-2 .u-image-1 {
    width: 294px;
    height: 294px;
    margin-bottom: -2px;
  }
}.u-section-3 {
  background-image: url("images/background.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1269px;
}

.u-section-3 .u-text-1 {
  text-transform: capitalize;
  animation-duration: 1000ms;
  margin: 40px 796px 0 0;
}

.u-section-3 .u-line-1 {
  width: 218px;
  height: 8px;
  transform-origin: left center 0px;
  animation-duration: 1000ms;
  margin: 12px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 535px 0 0;
}

.u-section-3 .u-image-1 {
  width: 1001px;
  height: 534px;
  animation-duration: 1000ms;
  margin: 27px auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 948px;
  margin: -75px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 350px;
}

.u-section-3 .u-container-layout-1 {
  padding: 116px 30px 30px 0;
}

.u-section-3 .u-text-3 {
  line-height: 2;
  margin: 0 0 0 8px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 319px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 49px 220px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  margin: 16px auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 42px 211px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  margin: 9px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1200px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 44px;
    margin-right: 596px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 335px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 501px;
    margin-top: 35px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 869px;
    margin-top: -71px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 319px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 105px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 5px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 198px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 376px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 115px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 384px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 660px;
    margin-top: 46px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 184px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 161px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 196px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 288px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 360px;
    margin-left: 30px;
  }

  .u-section-3 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 181px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 297px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }
}.u-section-4 {
  background-image: url("images/background.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 741px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  width: 371px;
  margin: 60px auto 0;
}

.u-section-4 .u-btn-1 {
  animation-duration: 1000ms;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 20px 258px 0;
}

.u-section-4 .u-btn-2 {
  font-style: italic;
  font-size: 1.125rem;
  animation-duration: 1000ms;
  padding: 0;
}

.u-section-4 .u-list-1 {
  min-height: 488px;
  margin: 45px 0 60px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  grid-auto-rows: 50%;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 270px;
  min-height: 179px;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 0 20px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-btn-3 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-2 {
  width: 270px;
  min-height: 179px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 0 0 20px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-btn-4 {
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-3 {
  width: 270px;
  min-height: 179px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 0 0 20px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-4 {
  width: 270px;
  min-height: 179px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 0 0 20px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-text-10 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-5 {
  padding: 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-5 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-5 {
  width: 270px;
  min-height: 179px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-10 {
  padding: 0 0 0 20px;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-text-12 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-6 {
  padding: 0;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-6 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-6 {
  width: 270px;
  min-height: 179px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-12 {
  padding: 0 0 0 20px;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-4 .u-text-14 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 158px;
    margin-right: 158px;
  }

  .u-section-4 .u-list-1 {
    min-height: 402px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  }

  .u-section-4 .u-group-1 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-4 .u-group-2 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-4 .u-group-3 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-4 .u-group-4 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-4 .u-group-5 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-4 .u-group-6 {
    width: 201px;
    min-height: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-4 .u-list-1 {
    min-height: 702px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-rows: 33.33%;
  }

  .u-section-4 .u-group-1 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-2 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-3 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-4 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-5 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-6 {
    width: 243px;
    min-height: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: 16.66%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-1 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-2 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-3 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-4 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-5 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-6 {
    width: 443px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-group-1 {
    width: 235px;
  }

  .u-section-4 .u-group-2 {
    width: 235px;
  }

  .u-section-4 .u-group-3 {
    width: 235px;
  }

  .u-section-4 .u-group-4 {
    width: 235px;
  }

  .u-section-4 .u-group-5 {
    width: 235px;
  }

  .u-section-4 .u-group-6 {
    width: 235px;
  }
}.u-section-5 {
  background-image: url("images/background.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 1270px;
}

.u-section-5 .u-shape-1 {
  width: 351px;
  background-image: none;
  height: 1062px;
  margin: 79px auto 0 170px;
}

.u-section-5 .u-gallery-1 {
  width: 985px;
  height: 671px;
  grid-gap: 10px;
  margin: -978px auto 0 48px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-5 .u-back-slide-1 {
  background-image: none;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-group-1 {
  width: 497px;
  min-height: 441px;
  background-image: none;
  margin: -85px 0 41px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 56px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-5 .u-shape-1 {
    width: 300px;
    height: 962px;
    margin-top: 77px;
    margin-left: 115px;
  }

  .u-section-5 .u-gallery-1 {
    width: 905px;
    height: 618px;
    margin-top: -876px;
    margin-left: 0;
  }

  .u-section-5 .u-group-1 {
    width: 435px;
    min-height: 434px;
    margin-top: -54px;
    margin-bottom: 59px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1690px;
  }

  .u-section-5 .u-shape-1 {
    height: 1299px;
    margin-left: 103px;
  }

  .u-section-5 .u-gallery-1 {
    width: 685px;
    height: 1055px;
    margin-top: -1210px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-group-1 {
    margin-top: -41px;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3814px;
  }

  .u-section-5 .u-shape-1 {
    height: 3662px;
    margin-top: 76px;
    margin-right: 186px;
    margin-left: 54px;
  }

  .u-section-5 .u-gallery-1 {
    width: 505px;
    height: 3162px;
    margin-top: -3570px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-group-1 {
    margin-top: -66px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2866px;
  }

  .u-section-5 .u-shape-1 {
    width: 260px;
    height: 2725px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-gallery-1 {
    width: 340px;
    height: 2129px;
    margin-top: -2667px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-group-1 {
    margin-top: 47px;
    margin-bottom: 117px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-6 {
  background-image: url("images/background.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 406px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 40px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  padding: 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 82px auto 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-6 .u-icon-5 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-6 .u-image-1 {
  min-height: 406px;
  background-image: url("images/logo.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 406px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-form-1 {
  height: 308px;
  margin: 0 -60px 0 0;
}

.u-section-6 .u-btn-2 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-6 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-6 .u-icon-2 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-6 .u-icon-3 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-6 .u-icon-4 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-6 .u-image-1 {
    min-height: 335px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 335px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-social-icons-1 {
    width: 180px;
  }

  .u-section-6 .u-image-1 {
    min-height: 257px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 526px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    min-height: 364px;
  }
}.nav-logo {
	
}